._*
.apdisk
.AppleDB
.AppleDesktop
.AppleDouble
.builds
.cache
.com.apple.timemachine.donotpresent
.DocumentRevisions-V100
.DS_Store
.env
.eslintcache
.fseventsd
.grunt
.localhistory/
.lock-wscript
.LSOverride
.next
.node_repl_history
.npm
.nuxt
.serverless
.TemporaryItems
.Trashes
.VolumeIcon.icns
.vs/
.vscode
.vuepress/dist
.yarn-integrity
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
[Bb]in/
[Dd]ebug/
[Dd]ebugPublic/
[Ll]og/
[Ll]ogs/
[Oo]bj/
[Rr]elease/
[Rr]eleases/
*_h.h
*_i.c
*_p.c
*_wpftmp.csproj
*.[Cc]ache
*.code-workspace
*.coverage
*.coveragexml
*.dbmdl
*.dbproj.schemaview
*.e2e
*.ilk
*.iobj
*.ipdb
*.jfm
*.log
*.meta
*.obj
*.pch
*.pdb
*.pfx
*.pgc
*.pgd
*.pid
*.pid.lock
*.pidb
*.psess
*.publishsettings
*.rptproj.bak
*.rsp
*.sap
*.sbr
*.scc
*.seed
*.svclog
*.tgz
*.tlb
*.tlh
*.tli
*.tmp
*.tmp_proj
*.vsp
*.vspscc
*.vspx
*.vssscc
*~
~$*
archive.tar.gz
Backup*/
bld/
bower_components
build/Release
ClientBin/
coverage
dist
es
Icon
jspm_packages/
lerna-debug.log
lib-cov
local/
logs
Network Trash Folder
node_modules/
npm-debug.log*
orleans.codegen.cs
pids
pra.md
reports/
ServiceFabricBackup/
Temporary Items
typings/
UpgradeLog*.htm
UpgradeLog*.XML
venv/
x64/
x86/
yarn-debug.log
yarn-error.log
yarn.lock